.surveyInfo {
    height: 4rem;
    width: 20%;
    align-items: center;
}

.surveyDetails {
    padding: 0.2rem;
    margin-bottom: .4rem;
    border-bottom: 1px solid rgb(219, 218, 218);
}

.icons {
    padding: 10px;
    background-color: rgb(226, 223, 223);
    border-radius: 50%;
    margin: 5px;
}