.singalQuestion {
    width: 85%;
    height: 50px;
    /* border: 1px solid black; */
    margin: 12px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 3px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 4px;

}